body{
    background-color: rgb(55, 56, 112);
    padding: 15px;
}

.header{
    display: flex;
    justify-content: space-around;
}

button.btn.btn-info{
    display: inline;
    align-items: center;
}